{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td scope="row">{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles | join('|')}}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">Edit</button></td>
                    <td><button type="button" class="btn btn-primary">Remove</button></td>
                </tr>

                <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">                           
                            <form id="user_edit_form" method="post">
                                <input type="hidden" name="_id" value="{{user.id}}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="_username" value="{{user.username}}" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="_mail" value="{{user.email}}" placeholder="Email">
                                </div>
                                <div class="form-group">
                                        <label for="FormControlSelect">Roles</label>
                                        <select multiple class="form-control" name="_roles" id="FormControlSelect">
                                            {% for role in roles %}
                                            <option value="{{role.id}}">{{role.name}}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Reset Password</button>
                            <button form="user_edit_form" type="submit" class="btn btn-primary">Save & Close</button>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}