{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.parent) }}
    {{ form_end(form) }}

    <table class="col-12">
        {% for category in categories %}
        <tr class="col-12">
            <td class="col-4">{{ category.name }}</td>

            {% if category.parent is not null %}
                <td class="col-3">{{ category.parent.name }}</td>
            {% else %}
                <td class="col-3">No parent</td>
            {% endif %}
            
            <td class="col-2">
                <a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn btn-secondary">Edit</a>
            </td>

            <td class="col-2">
                <a href="{{ path('admin.category.remove', {id: category.id}) }}" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="modal fade" id="modalConfrim" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are your sure to remove this user ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a id="remove_confirm" href="" class="btn btn-primary">Confirm & Remove</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}