{% extends "base.html.twig" %}

{% block body %}

<div class="container">
  {{ form_start(form) }}
    <div class="d-flex align-items-center justify-content-center">
      <div class="m-2">{{ form_row(form.name) }}</div>
      <div class="m-2">{{ form_row(form.level) }}</div>
      <div class="m-2">{{ form_row(form.submit) }}</div>
    </div>
  {{ form_end(form) }}
  <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Level</th>
              <th>Edit</th>
              <th>Remove</th>
          </tr>
      </thead>
      <tbody>
          {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.level}}</td>
                <td><a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn btn-primary">Edit</a></td>
                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfrim" data-whatever="{{ path('admin.category.remove', {id: category.id}) }}">Remove</button></td>
            </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

<div class="modal fade" id="modalConfrim" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are your sure to remove this user ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a id="remove_confirm" href="" class="btn btn-primary">Confirm & Remove</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}