<header>
    <div class="jumbotron p-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="display-3"><a href="{{ path('index') }}">{% block title %}Aventura{% endblock %}</a></h1>
                <div id="member">
                    {% if app.user %}
                        <p><a href="{{ path('profile.show', {id: app.user.id}) }}">{{app.user.username}}</a> | <a href="{{ logout_path('main') }}">Logout</a>
                    {% else %}
                        <p><a href="{{ path('app_login') }}">Login</a> | <a href="{{ path('register') }}">Register</a></p>
                    {% endif %}
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="d-flex justify-content-center" id="admin_navbar">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="p-1" href="{{ path('admin.user.index') }}">Users</a>
                    {% endif %}
                    <a class="p-1" href="{{ path('admin.role.index') }}">Roles</a>
                    <a class="p-1" href="{{ path('admin.category.index') }}">Category</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>