{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ topic.title }}</h1>

        {{ topic.content | raw}}

        <p>{{ topic.user.username }} at {{ topic.date_at | date("d-F-Y h:m:s", "Europe/Paris") }}</p>

        {% for topic in topic.children %}
            <div class="comment">
                {{ topic.content | raw }}

                <p>{{ topic.user.username }} at {{ topic.date_at | date("d-F-Y h:m:s", "Europe/Paris") }}</p>

                {% if is_granted('ROLE_ADMIN') or topic.user == app.user %}
                    <a href="{{ path('topic.edit', {id: topic.id}) }}" class="btn btn-secondary">Edit</a>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') or topic.user == app.user %}
                    <a href="{{ path('topic.remove', {id: topic.id}) }}" class="btn btn-secondary">Delete</a>
                {% endif %}
                
            </div>
        {% endfor %}

        {% if is_granted('ROLE_USER') %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
