{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('conversation.show', {id: conversation.id}) }}">Back to conversation</a>
        <div class="added">
            <h4>participant</h4>
            {% for user in conversation.user %}
                <div class="participant">
                    <p>{{ user.username }}</p>
                    <a href="{{ path('conversation.user.remove', {uid: user.id, cid: conversation.id}) }}" class="btn btn-secondary">Remove</a>
                </div>
            {% endfor %}
        </div>
        <div class="addable">
            <h4>user</h4>
            {{ form_start(form) }}
                <div class="form-group">
                    <select multiple class="form-control" name="users[]">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
